
@{
    ViewBag.Title = "Merchant Home";
}


<h2><em class="icon-grid"></em>   Merchant   <small>Dashboard</small></h2>
            <!-- START widgets box-->
<div class="row">
    <div class="col-lg-3 col-sm-6">
        <!-- START widget-->
        <div class="panel widget bg-green-dark pt b0 widget">
            <div class="ph">
                <em class="icon-layers fa-lg pull-right"></em>
                <div class="h2 mt0">10</div>
                <div class="text-uppercase">Collection Points</div>
            </div>
            <div data-sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="#23b7e5" data-chart-range-min="0" data-fill-color="#23b7e5" data-spot-color="#23b7e5" data-min-spot-color="#23b7e5" data-max-spot-color="#23b7e5"
                 data-highlight-spot-color="#23b7e5" data-highlight-line-color="#23b7e5" values="2,5,3,7,4,5" style="margin-bottom: -2px" data-resize="true"></div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <!-- START widget-->
        <div class="panel bg-gray-dark pt b0 widget">
            <div class="ph">
                <em class="icon-check fa-lg pull-right"></em>
                <div class="h2 mt0">
                    700
                </div>
                <div class="text-uppercase">Total Transactions</div>
            </div>
            <div data-sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="#7266ba" data-chart-range-min="0" data-fill-color="#7266ba" data-spot-color="#7266ba" data-min-spot-color="#7266ba" data-max-spot-color="#7266ba"
                 data-highlight-spot-color="#7266ba" data-highlight-line-color="#7266ba" values="1,4,5,4,8,7,10" style="margin-bottom: -2px" data-resize="true"></div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <!-- START widget-->
        <div class="panel widget bg-purple-dark pt b0 widget">
            <div class="ph">
                <em class="icon-pencil fa-lg pull-right"></em>
                <div class="h2 mt0">500</div>
                <div class="text-uppercase">Revenue Collected.</div>
            </div>
            <div data-sparkline="" data-type="line" data-width="100%" data-height="75px" data-line-color="#23b7e5" data-chart-range-min="0" data-fill-color="#23b7e5" data-spot-color="#23b7e5" data-min-spot-color="#23b7e5" data-max-spot-color="#23b7e5"
                 data-highlight-spot-color="#23b7e5" data-highlight-line-color="#23b7e5" values="4,5,3,10,7,15" style="margin-bottom: -2px" data-resize="true"></div>
        </div>
    </div>
   
</div>
<!-- END widgets box-->







  <!-- START bar chart-->
<div id="panelChart3" ng-controller="FlotChartController" class="panel" style="width:75%">
    <div class="panel-heading">

        <div class="panel-title">Performance per shop</div>
    </div>
    <div collapse="panelChart3" class="panel-wrapper">
        <div class="panel-body">
           

            <!-- atusing (Html.BeginForm("Agent", "AgentChart"))-->
          

           

        </div>
    </div>
</div>
<!-- END bar chart-->

