@{
    ViewBag.Title = "ChangeEmail";
}
<h1><i class="fa fa-gears"></i> Manage <small>- Change Email</small></h1>

<!-- START panel tab-->
<div role="tabpanel" class="panel" style="width:65%;">
    <!-- Nav tabs-->
    <ul role="tablist" class="nav nav-tabs nav-justified">
        <li role="presentation">
            @Html.ActionLink("Change your password", "Index")
        </li>
        <li role="presentation">
            @Html.ActionLink("Change your password", "ChangePassword")
        </li>
        <li role="presentation" class="active">
            @Html.ActionLink("ChangeEmail", "ChangeEmail")
        </li>
    </ul>
    <!-- Tab panes-->
    <div class="tab-content p0">
        <div id="home" role="tabpanel" class="tab-pane">
            Profile Info here
        </div>
        <div id="password" role="tabpanel" class="tab-pane">
            Change Password
        </div>
        <div id="email" role="tabpanel" class="tab-pane active">
            Change Email
        </div>
    </div>
</div>
<!-- END panel tab-->