
@{
    ViewBag.Title = "Index";
}

<h2>Transaction per item</h2>
<!-- START widget-->
<div id="panelChart9" ng-controller="FlotChartController" class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Transaction per item</div>
    </div>
    <div collapse="panelChart9" class="panel-wrapper">
        <div class="panel-body">
            Chat here
        </div>
    </div>
</div>
<!-- END widget-->

